Package: org.tomcool.overflow
Name: Overflow
Depends: mobilesubstrate, org.tomcool.smframework(>=0.5.6), org.tomcool.overflow.tweak(>=1.0.0-10)
Version: 1.1.0
Architecture: iphoneos-arm
Description: Think Categories for AppleTV
Maintainer: Thomas Cool <thomas.cool@me.com>
Author: Thomas Cool <thomas.cool@me.com>
Section: Development
