Package: org.tomcool.overflow
Name: Overflow
Depends: beigelist(>=2.1-1), mobilesubstrate, org.tomcool.smframework(>=0.5.6)
Version: 1.1.0
Architecture: iphoneos-arm
Description: Think Categories for AppleTV
Maintainer: Thomas Cool <thomas.cool@me.com>
Author: Thomas Cool <thomas.cool@me.com>
Section: Development
