Package: org.tomcool.overflow.tweak
Name: Overflow Tweak
Depends: beigelist(>=2.1-1), mobilesubstrate, org.tomcool.smframework(>=0.5.6)
Version: 1.0.0
Architecture: iphoneos-arm
Description: new beigelist compatible 4.1-4.3 and support for overflow (updated to work with 8F455)
Maintainer: Thomas Cool <thomas.cool@me.com>
Author: Thomas Cool <thomas.cool@me.com>
Section: Tweaks